In [2]:
# https://www.kaggle.com/datasets/rikdifos/credit-card-approval-prediction

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [ ]:
# application_record.csv		
# Feature name	Explanation	Remarks
# ID	Client number	
# CODE_GENDER	Gender	
# FLAG_OWN_CAR	Is there a car	
# FLAG_OWN_REALTY	Is there a property	
# CNT_CHILDREN	Number of children	
# AMT_INCOME_TOTAL	Annual income	
# NAME_INCOME_TYPE	Income category	
# NAME_EDUCATION_TYPE	Education level	
# NAME_FAMILY_STATUS	Marital status	
# NAME_HOUSING_TYPE	Way of living	
# DAYS_BIRTH	Birthday	Count backwards from current day (0), -1 means yesterday
# DAYS_EMPLOYED	Start date of employment	Count backwards from current day(0). If positive, it means the person currently unemployed.
# FLAG_MOBIL	Is there a mobile phone	
# FLAG_WORK_PHONE	Is there a work phone	
# FLAG_PHONE	Is there a phone	
# FLAG_EMAIL	Is there an email	
# OCCUPATION_TYPE	Occupation	
# CNT_FAM_MEMBERS	Family size	

# credit_record.csv		
# Feature name	Explanation	Remarks
# ID	Client number	
# MONTHS_BALANCE	Record month	The month of the extracted data is the starting point, backwards, 0 is the current month, -1 is the previous month, and so on
# STATUS	Status	0: 1-29 days past due 1: 30-59 days past due 2: 60-89 days overdue 3: 90-119 days overdue 4: 120-149 days overdue 5: Overdue or bad debts, write-offs for more than 150 days C: paid off that month X: No loan for the month

In [3]:
application = pd.read_csv('application_record.csv')
credit = pd.read_csv('credit_record.csv')

In [4]:
application.head(10)

,ID,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,NAME_INCOME_TYPE,NAME_EDUCATION_TYPE,NAME_FAMILY_STATUS,NAME_HOUSING_TYPE,DAYS_BIRTH,DAYS_EMPLOYED,FLAG_MOBIL,FLAG_WORK_PHONE,FLAG_PHONE,FLAG_EMAIL,OCCUPATION_TYPE,CNT_FAM_MEMBERS
0,5008804,M,Y,Y,0,427500.0,Working,Higher education,Civil marriage,Rented apartment,-12005,-4542,1,1,0,0,NaN,2.0
1,5008805,M,Y,Y,0,427500.0,Working,Higher education,Civil marriage,Rented apartment,-12005,-4542,1,1,0,0,NaN,2.0
2,5008806,M,Y,Y,0,112500.0,Working,Secondary / secondary special,Married,House / apartment,-21474,-1134,1,0,0,0,Security staff,2.0
3,5008808,F,N,Y,0,270000.0,Commercial associate,Secondary / secondary special,Single / not married,House / apartment,-19110,-3051,1,0,1,1,Sales staff,1.0
4,5008809,F,N,Y,0,270000.0,Commercial associate,Secondary / secondary special,Single / not married,House / apartment,-19110,-3051,1,0,1,1,Sales staff,1.0
5,5008810,F,N,Y,0,270000.0,Commercial associate,Secondary / secondary special,Single / not married,House / apartment,-19110,-3051,1,0,1,1,Sales staff,1.0
6,5008811,F,N,Y,0,270000.0,Commercial associate,Secondary / secondary special,Single / not married,House / apartment,-19110,-3051,1,0,1,1,Sales staff,1.0
7,5008812,F,N,Y,0,283500.0,Pensioner,Higher education,Separated,House / apartment,-22464,365243,1,0,0,0,NaN,1.0
8,5008813,F,N,Y,0,283500.0,Pensioner,Higher education,Separated,House / apartment,-22464,365243,1,0,0,0,NaN,1.0
9,5008814,F,N,Y,0,283500.0,Pensioner,Higher education,Separated,House / apartment,-22464,365243,1,0,0,0,NaN,1.0

In [5]:
credit.head(10)

        ID  MONTHS_BALANCE STATUS
0  5001711               0      X
1  5001711              -1      0
2  5001711              -2      0
3  5001711              -3      0
4  5001712               0      C
5  5001712              -1      C
6  5001712              -2      C
7  5001712              -3      C
8  5001712              -4      C
9  5001712              -5      C

In [13]:
print("app data shape: ", application.shape)
print("credit data shape:", credit.shape)

app data shape:  (438557, 18)
credit data shape: (1048575, 3)

In [14]:
#count null value
application.isnull().sum()

ID                          0
CODE_GENDER                 0
FLAG_OWN_CAR                0
FLAG_OWN_REALTY             0
CNT_CHILDREN                0
AMT_INCOME_TOTAL            0
NAME_INCOME_TYPE            0
NAME_EDUCATION_TYPE         0
NAME_FAMILY_STATUS          0
NAME_HOUSING_TYPE           0
DAYS_BIRTH                  0
DAYS_EMPLOYED               0
FLAG_MOBIL                  0
FLAG_WORK_PHONE             0
FLAG_PHONE                  0
FLAG_EMAIL                  0
OCCUPATION_TYPE        134203
CNT_FAM_MEMBERS             0
dtype: int64

In [15]:
credit.isnull().sum()

ID                0
MONTHS_BALANCE    0
STATUS            0
dtype: int64